.sd-main {
  text-align: center;
  padding: 1rem;
  position: relative;

  .sd-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto 0.5rem;
  }

  .list-content {
    max-width: 400px;
    margin: 0 auto;
  }

  .list {
    max-height: 40vh;
    overflow-y: scroll;
    border: 2px solid;
    border-radius: 5px;
  }

  .no-result {
    padding: 1rem;
    color: red;
  }
}
